# Shared Infantry

[template_soldierDesc]
displayText: Soldier
displayDescription: An lightly armored foot soldier, equipped with 9mm RP assault rifle which fire armor piercing rounds.\nOnly have a limited firing range and speed.

[template_trooperDesc]
displayText: Trooper
displayDescription: Trooper is armed with 10mm Rotary Cannon firing armor piercing incendiary rounds and FS Rockets.\nHas heavy, mechanized power sits which enhance performance and speed.
