# Buildings

[template_civilianHabitatDesc]
displayText: Civilian Habitat
displayDescription: A home for the natives or civilians of Arrakis.

[template_civilianRadarDesc]
displayText: Civilian Radar
displayDescription: A radar facility used by natives and civilians to spy on faction troop movements on the harsh world of Arrakis.

[template_civilianSolarDesc]
displayText: Solar Panels
displayDescription: A Solar Array paired with some batteries. Used primarily by businesses and the population of Arrakis.

[template_civilianContainerDesc]
displayText: Civilian Containers
displayDescription: Containers used by businesses and the population of Arrakis.

[template_civilianAntiAirEmplacementDesc]
displayText: Tech Anti-Air Emplacement
displayDescription: A capturable anti-air emplacement. Does not provide build space.

[template_civilianGreatWallDesc]
displayText: Great Wall
displayDescription: A massive near-invulnerable wall.