# Vehicles

[template_genericHarvesterDesc]
displayText: Civilian Harvester
displayDescription: The civilians and natives of Arrakis use harvesters themselves to make money.\nOnce filled, the Harvester will automatically take raw spice to the Refinery for processing.
