# Vehicles

[template_harvesterDesc]
displayText: Civilian Harvester
displayDescription: -The Civilians and Natives of Arrakis use harvesters themselves to make money.\n-Once filled, the Harvester will automatically take raw spice to the Refinery for processing.
