
[core]
soundOnMoveOrder: ROOT:Data/Sound/Voices/vehvoice2.wav, ROOT:Data/Sound/Voices/vehvoice7.wav, ROOT:Data/Sound/Voices/vehvoice8.wav, ROOT:Data/Sound/Voices/vehvoice9.wav, ROOT:Data/Sound/Voices/vehvoice10.wav, ROOT:Data/Sound/Voices/vehvoice11.wav

soundOnNewSelection:ROOT:Data/Sound/Voices/vehvoice.wav, ROOT:Data/Sound/Voices/vehvoice3.wav, ROOT:Data/Sound/Voices/vehvoice4.wav, ROOT:Data/Sound/Voices/vehvoice5.wav, ROOT:Data/Sound/Voices/vehvoice6.wav

soundOnAttackOrder: ROOT:Data/Sound/Voices/vehvoice2.wav, ROOT:Data/Sound/Voices/vehvoice7.wav, ROOT:Data/Sound/Voices/vehvoice8.wav, ROOT:Data/Sound/Voices/vehvoice9.wav, ROOT:Data/Sound/Voices/vehvoice10.wav, ROOT:Data/Sound/Voices/vehvoice11.wav