[template_houseOrdosDesc]
text: House Ordos
description: [Stealth & Sabotage]\n\n[Features]\n-Laser Weaponry\n-Map Reveal

# Palace
[template_revealCool]
text: Cooldown...
description: -Charging the satelite.

[template_reveal]
text: Reveal Area
