[template_houseOrdosDesc]
text: House Ordos
description: [Stealth & Sabotage]\n\n[Features]\nLaser Weaponry\nMap Reveal

# Palace
[template_revealCool]
text: Cooldown...
description: Charging the satelite.

[template_reveal]
text: Reveal Area
