# Infantry 

[template_ordosSaboteurDesc]
displayText: Saboteur
displayDescription: The Saboteur is a special military unit belonging to Ordos.\nTrained in the art of espionage and terrorism at the palace, a single Saboteur can destroy almost any structure or vehicle.
