[template_houseHarkonnenDesc]
text: House Harkkonen
description: [Strength & Aggression]\n\n[Features]\nDevastator Armourments\nTank Reinforcements

# Palace
[template_tankreinCool]
text: Cooldown...
description: Rallying reinforcements...

[template_tankrein]
text: Tank Reinforcements

# Death Hand
[template_deathCooldownDesc]
text: Cooldown...
description: Missile under construction...

[template_deathHandDesc]
text: Death Hand

