# Infantry 

[template_cyborgDesc]
displayText: Cyborg Reaper
displayDescription: The Cyborg Reaper is the Harkonnens elite mechanized infantry.\nThey are much more costly than the average trooper, but make up for it in their strength.
