# Research

[template_devestatorUpgradeDesc]
text: Devastator Shell Research
description: Begins research on Devastator Shell Technology.\nThis allows the construction of weapons capable of destroying anything in its path.

[template_mammothUpgradeDesc]
text: Mammoth Research
description: Begins research on the Mammoth.\nThis allows the construction of the Mammoth Super Heavy Tank, the most powerful tank on Arrakis.

[template_nukeTankUpgradeDesc]
text: Nuclear Engines Research
description: Begins research on Nuclear Engine Technology.\nThis gives basic tanks nuclear engines, which increases speed.