[template_houseAtreidesDesc]
text: House Atreides
description: [Technology & Economics]\n\n[Features]\nSonic Weaponry\nArtillery Strike

# Palace
[template_artyCool]
text: Cooldown...
description: Rearming artillery...

[template_fireArty]
text: Artillery Strike
